/* Write your global styles here, in PostCSS syntax */
@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.card-container {
  overflow: hidden;
  border-radius: 0.5rem;
  > div {
    display: flex;
    height: 100%;
  }
}

.dboard__card {
  min-height: 233px;
  overflow: hidden;
}
